@model IEnumerable<SpeakFluent.Models.UserProfile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NativeLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearningLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FluencyLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearningGoal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NativeLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LearningLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FluencyLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LearningGoal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserProfileId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserProfileId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserProfileId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
